{"exportVersion":1,"codeTables":[],"forms":[{"businessUnitNames":["Bree Union"],"authGroups":[{"accessType":1,"authGroupName":"System Administrators"},{"accessType":1,"authGroupName":"Administrators"}],"formCategory":{"formClass":1,"sortOrder":0,"recordState":1},"formName":"Procura_BowelChartEntry","versionMajor":1,"versionMinor":0,"existingVersion":false,"formAccessType":2,"formClass":1,"formSubClass":100,"formType":2,"formSubType":2,"formStatus":3,"entryStatusType":2,"entryReviewStatusType":1,"title":"Bowel Chart]}